{% extends 'donutapp/header.html' %}
{% load static %}
{% block head %}
{% load customtags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css"
          integrity="sha512-4rPgyv5iG0PZw8E+oRdfN/Gq+yilzt9rQ8Yci2jJ15rAyBmF0HBE4wFjBkoB72cxBeg63uobaj1UcNt/scV93w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"
            integrity="sha512-gSf3NCgs6wWEdztl1e6vUqtRP884ONnCNzCpomdoQ0xXsk06lrxJsR7jX5yM/qAGkPGsps+4bLV5IEjhOZX+gg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Главаня</title>
</head>

{% endblock %}

{% block name %}
<script>
    window.onload = function () {
        document.body.classList.add('loaded_hiding');
        window.setTimeout(function () {
            document.body.classList.add('loaded');
            document.body.classList.remove('loaded_hiding');
        }, 500);
    }
</script>
<!-- Прелоадер -->
<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div>
<div class="wrapper">
    <div class="blur-search" id="overlay-blur">
        <div id="fullpage">
            <div class="section s1">
                <a href="#1"></a>
                <section class="content">
                    <section class="content__gallery gallery">
                        <div class="gallery__items">
                            <div class="gallery__item gallery__item_big">
                                <div class="round"></div>
                                <img class="welcome" src="{% static 'img/welcome.png' %}" alt="">
                                <img class="welcome2" src="{% static 'img/back.png' %}" alt="" width="300px">
                                <a href="{% url 'profile' %}">
                                    <div class="avatar">

                                        <img class="main-logo" src="{{ profile.img.url }}" alt="">

                                    </div>
                                </a>

                            </div>
                            <div class="gallery__item gallery__item_big">

                                <div class="facts_container">
                                    <div class="random_container">
                                        <h1 class="random">Random facts</h1>
                                    </div>
                                    <div class="facts_text">
                                        <p class="facts_p">{{random_facts.description}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </section>
            </div>
            <div class="section s2">
                <a href="#2"></a>
                <div class="section2">
                    {% if post_follow %}
                    <div class="photo_content">
                        <div class="subscribe_container">
                            <h1 class="subscribe_title">Ваши подписки</h1>
                        </div>
                        <div class="photo_gallery">

                            {% for posts in post_follow %}
                            <div class="photo content2">
                                <div class="content-overlay"></div>
                                <img class="photo_img content-image" src="{{ posts.img.url }}" height="530px"
                                     width="300px">

                                <div class="content-details fadeIn-bottom">
                                    <h3>{{posts.user.name}}</h3>
                                    <p>{{ posts.description | linebreaksbr }}</p>
                                    <button class="more_btn" id="open{{posts.id}}">Подробнее</button>
                                </div>
                                <div class="overlay10" id="myOverlayopen{{posts.id}}">
                                    <div class="popup1">
                                        <div class="photo-post">
                                            <img src="{{ posts.img.url }}" alt="" width="100%" height="100%"
                                                 style=" object-fit: cover;	">
                                        </div>

                                             <a href="{% url 'search_profile' posts.user.id%}">
                                            <div class="header">
                                                <div class="avatar3">
                                                    <img class="main-logo" src="{{ posts.user.img.url }}" alt=""
                                                         width="70px">
                                                </div>

                                                <h1 class="title-post">{{posts.user.name}}</h1>
                                            </div>
                                             </a>

                                        <div class="description" id="description{{posts.id}}">
                                            <p>{{ posts.description | linebreaksbr }}</p>
                                        </div>
                                        <form action="{% url 'like' %}" method="post" class="like-form form-like form2"
                                              id="k{{posts.id}}">
                                            {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{posts.id}}">
                                            <button class="ui button positive like-btn{{posts.id}}"
                                                    id="btnlike{{posts.id}}"
                                                    type="submit"><p
                                                    {% if posts|color:user %}
                                                    style="color: red;"
                                                    {% endif %}
                                                    class="like-img"
                                                    id="like-img{{posts.id}}">
                                                ❤ {{ posts.liked.all.count }}</p></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>


                    </div>
                </div>
                {% else %}
                <div>
                <img src="{% static 'img/not.gif' %}" alt="" width="300px" style="margin-left: 30%; margin-top: 5%">
                <h2 class="no-followers-title">Подпишитесь на друзей, чтобы видеть их обновления</h2>
                {% endif %}
                    </div>

            </div>

        </div>
    </div>
</div>
<script>
    new fullpage('#fullpage', {
        // здесь параметры
        autoScrolling: true,
        anchors: ['1', '2', '3'],
        scrollHorizontally: true,
        showActiveTooltip: true,
        controlArrows: false,
        slidesNavigation: true,
        normalScrollElements: '.s2, .photo_gallery'
    });
</script>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script src="{% static 'js/like.js' %}" defer></script>
<script src="{% static 'js/search.js' %}" defer></script>
<script>
    $(document).on('click', '.more_btn', function (e) {
        let id = e.target.id;
        $('#myOverlay' + id).fadeIn();
    });
    $(document).mouseup(function (e) {
        var popup = $('.popup1');
        if (e.target != popup[0] && popup.has(e.target).length === 0) {
            $('.overlay10').fadeOut();
        }
    });
</script>

{% endblock %}