{% extends 'donutapp/header.html' %}
{% load static %}
{% block head %}
{% load customtags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Статистика</title>
</head>
{% endblock %}
{% block name %}
<div class="wrapper">
    <section class="content">
        <div class="blur-search" id="overlay-blur">
            <div class="statistics_container">
                <div class="statistics">
                    <div class="statistics_card content2">
                        <h1 class="title_male">Пол подписчиков</h1>
                        <div class="chart">
                            <canvas id="myChart" width="100px"></canvas>
                        </div>
                    </div>
                    <div>
                        <h1 class="title_post">Лучшее фото</h1>

                        <div class="best_post content2">
                            <div class="content-overlay2"></div>
                            <img class="best_post_img content-image" src="{{ bestPost.img }}">
                            <div class="user_logo">
                                <img class="user_logo_img" src="{{ bestPost.imgUrl }}">
                            </div>
                            <div class="desc">{{ bestPost.name }}</div>
                             <form action="{% url 'like' %}" method="post" class="like-form form-like2 form2"
                                      id="k{{bestPost.pk}}">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{bestPost.pk}}">
                                    <button class="ui button positive like-btn{{bestPost.pk}}" id="btnlike{{bestPost.pk}}"
                                            type="submit"><p
                                            {% if bestPost.post|color:user %}
                                            style="color: red;"
                                            {% endif %}
                                            class="like-img"
                                            id="like-img{{bestPost.pk}}">
                                        ❤ {{ bestPost.like }}</p></button>
                                </form>
                            <div class="content-details2 fadeIn-bottom">
                                <h3>Описание</h3>
                                <p>{{ bestPost.descriptions|linebreaksbr }}</p>

                            </div>

                        </div>

                    </div>
                    <div class="statistics_card content2">
                        <h1 class="title_male">Количество лайков</h1>
                        <div class="chart2">

                            <canvas id="myChart2" width="100px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/like.js' %}" defer></script>
<script>
    $(document).on('click', '.more_btn', function (e) {
        // let id = e.target.id;  $('#myOverlay'+id).fadeIn();
        $('#myOverlay').fadeIn();
    });
    // Закрытие окна на крестикe
    $('.close-popup2').click(function () {
        $('.overlay3').fadeOut();
    });
    $(document).mouseup(function (e) {
        var popup = $('.popup2');
        if (e.target != popup[0] && popup.has(e.target).length === 0) {
            $('.overlay3').fadeOut();
        }
    });
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx,
        {
            type: 'doughnut',
            data: {
                labels: ['Мужчины', 'Женщины'],
                datasets: [{
                    data: ["{{count_male}}", "{{count_female}}"],
                    backgroundColor: [
                        'rgba(54, 162, 235,1)',
                        'rgb(255,99,132)',
                    ],
                    borderColor: ['rgba(54, 162, 235, 1)', 'rgba(255, 99, 132, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                labels: {
                    pointStyle: 'dash'
                }
            }
        });


    const ctx2 = document.getElementById('myChart2').getContext('2d');
    const myChart2 = new Chart(ctx2,
        {
            type: 'doughnut',
            data: {
                labels: [{% for item in all_post %}'{{item.post}}',{% endfor %}],
                datasets: [{
                    data:[{% for item in all_post %}'{{item.like}}',{% endfor %}],
                    backgroundColor: [
                        'rgba(54, 162, 235,1)',
                        'rgb(255,99,132)',
                        'rgb(250,255,99)',
                        'rgb(245,99,255)',
                        'rgb(224,31,37)',
                        'rgb(31,224,57)',
                        'rgb(239,144,36)',
                        'rgb(86,105,217)',

                    ],
                    borderColor: ['rgba(54, 162, 235, 1)', 'rgba(255, 99, 132, 1)', 'rgb(250,255,99)', 'rgb(245,99,255)'],
                    borderWidth: 1
                }]
            },
            options: {
                labels: {
                    pointStyle: 'dash'
                }
            }

        });

</script>
{% endblock %}