{% extends 'donutapp/header.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
    <title>Статистика</title>
</head>
{% endblock %}
{% block name %}
<div class="wrapper">
    <section class="content">
        <div class="blur-search" id="overlay-blur">
            <div class="post_container">
                <div class="statistics">
                    <div class="statistics_card content2">
                        <h1 class="title_male">Пол подписчиков</h1>
                        <div class="chart">
                            <canvas id="myChart" width="100px"></canvas>
                        </div>
                    </div>
                    <div >
                        <h1 class="title_post">Лучшее фото</h1>
                        <div class="best_post content2">

                            <div class="content-overlay"></div>
                            <img class="best_post_img content-image" src="{% static 'img/1.png' %}">
                            <div class="user_logo">
                                <img class="user_logo_img" src="{% static 'img/1.png' %}">
                            </div>
                            <div class="desc">Santikas</div>
                            <div class="content-details fadeIn-bottom">
                                <h3>Santikas</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                    quis,
                                    sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
                                    vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                    justo.
                                    Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                                    elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                    porttitor
                                    eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra
                                    quis,
                                    feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
                                    Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
                                    nisi.
                                    Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
                                    quam
                                    semper libero, sit amet adipiscing sem neque sed ipsum. N</p>
                                <button class="more_btn">Подробнее</button>
                            </div>
                            <div class="overlay3" id="myOverlay">
                                <div class="popup2">
                                    <div class="photo-post">
                                        <img src="{% static 'img/1.png' %}" alt="" width="100%" height="100%"
                                             style=" object-fit: cover;	">
                                    </div>
                                    <a href="#">
                                        <div class="header">
                                            <div class="avatar3">
                                                <img class="main-logo" src="{% static 'img/1.png' %}" alt=""
                                                     width="70px">
                                            </div>
                                            <h1 class="title-post">SANTIKAS</h1>
                                        </div>
                                    </a>
                                    <div class="description" id="description{{posts.id}}">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                            ligula
                                            eget
                                            dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                            montes,
                                            nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                                            pretium quis,
                                            sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                                            aliquet
                                            nec,
                                            vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                                            vitae,
                                            justo.
                                            Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                            Vivamus
                                            elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                            porttitor
                                            eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                            viverra
                                            quis,
                                            feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
                                            rutrum.
                                            Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
                                            ultricies nisi.
                                            Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                                            rhoncus,
                                            sem quam
                                            semper libero, sit amet adipiscing sem neque sed ipsum. N</p>
                                    </div>
                                    <form action="#" method="post" class="like-form form-like"
                                          id="g">
                                        {% csrf_token %}
                                        <input type="hidden" name="post_id" value="{{posts.id}}">
                                        <button class="ui button positive like-btn{{posts.id}}" id="btnlike{{posts.id}}"
                                                type="submit"><p
                                                class="like-img"
                                                id="like-img{{posts.id}}">
                                            ❤ 5</p></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="statistics_card content2">
                        <h1 class="title_male">Кол-во лайков</h1>
                        <div class="chart2">

                            <canvas id="myChart2" width="100px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    $(document).on('click', '.more_btn', function (e) {
        // let id = e.target.id;  $('#myOverlay'+id).fadeIn();
        $('#myOverlay').fadeIn();
    });
    // Закрытие окна на крестикe
    $('.close-popup2').click(function () {
        $('.overlay3').fadeOut();
    });
    $(document).mouseup(function (e) {
        var popup = $('.popup2');
        if (e.target != popup[0] && popup.has(e.target).length === 0) {
            $('.overlay3').fadeOut();
        }
    });
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx,
        {
            type: 'doughnut',
            data: {
                labels: ['Мужчины', 'Женщины'],
                datasets: [{
                    data: ["10", "20"],
                    backgroundColor: [
                        'rgba(54, 162, 235,1)',
                        'rgb(255,99,132)',
                    ],
                    borderColor: ['rgba(54, 162, 235, 1)', 'rgba(255, 99, 132, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                labels: {
                    pointStyle: 'dash'
                }
            }
        });


    const ctx2 = document.getElementById('myChart2').getContext('2d');
    const myChart2 = new Chart(ctx2,
        {
            type: 'doughnut',
            data: {
                labels: ["пост1", "пост2"],
                datasets: [{
                    data: [6, 7],
                    backgroundColor: [
                        'rgba(54, 162, 235,1)',
                        'rgb(255,99,132)',
                        'rgb(250,255,99)',
                        'rgb(245,99,255)',
                        'rgb(224,31,37)',
                        'rgb(31,224,57)',
                        'rgb(239,144,36)',
                        'rgb(86,105,217)',

                    ],
                    borderColor: ['rgba(54, 162, 235, 1)', 'rgba(255, 99, 132, 1)', 'rgb(250,255,99)', 'rgb(245,99,255)'],
                    borderWidth: 1
                }]
            },
            options: {
                labels: {
                    pointStyle: 'dash'
                }
            }

        });

</script>
{% endblock %}